body {    
    background: url("imgs/pattern.png");
    background-color: #b8daff;
}

.top-index {
    height: 100px;
    width: 100%;   
    background-color: #80bdff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
}

.menu {
    text-align: center;
    margin-top: 2.3rem;
}

.menu a {
    color: black;
    display: inline;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.menu a:hover {
    text-decoration: none;
    color: #ccf4ff;
    font-weight: bold;
}

.items-container {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-top: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 1rem;
    min-height: 600px;
}

.footer {
    text-align: center;
}

.footer p {
    font-size: 18px;
    font-weight: lighter;
}
